<style>
#main {
    padding: 5px;
    padding-left:  15px;
    padding-right: 15px;
    background-color: #ffffff;
    border-radius: 0 0 5px 5px;
}
#main h1 {
    font-family: Georgia, serif;
    border-bottom: 3px solid #DC143C;
    color: black;
    font-size: 30px;
}
#main p{
	font-family: Georgia, serif;
	font-size: 15px;
}
#main #end{
	color: #808080;
	text-align:right;

}
</style>

<div class="container" style="width:85%; max-width:1200px;">
	<div id ="main">
	<h1>VoiceWave 정보</h1>
	<p> 
		VoiceWave는 사용자가 독창적으로 제작한 오디오(노래,성대모사,작곡, 악기연주)등을 공유하는 공간입니다.
		<br /><br />
		본 서비스는 2015년 8월에 오픈하였으며, 현재 Google Chrome, Windows IE 9.0 이상 버전에
		최적화 되어있습니다(IE 8.0 이하 버전에서는 작동을 안할수도 있습니다).
		<br /><br />
		안드로이드 앱은 구글 플레이 스토어에서 다운 받으실 수 있고, 현재 iOS 앱은 준비 중에 있습니다.
		<br /><br />
		VoiceWave는 사용자가 올린 오디오 파일에 대한 저작권을 가지고 있지 않으며, 사용자는 자신이
		녹음/제작하거나, 저작권이 없거나 혹은 자신이 직접 저작권자인 파일만 업로드할 의무가 있습니다.
		VoiceWave는 이 사이트에서 이용되는 파일들에 대한 저작권 관련 문제에 책임이 없습니다.
		<br /><br />
		의견이나 질문이 있으신 분은 'voicewave.org@gmail.com'으로 이메일을 보내주십시오.
   	</p>
	<p id="end">
	VoiceWave 제공
	</p>
	</div>
</div>

