NProgress.done();
<% part = session[:records][@offset, 5] %>
<% if !part.nil? %>		
	var tmp_div=document.createElement('div');
	tmp_div = $(tmp_div).html("").hide();
	<% (0..5).each do |i| %>
	<% if !part[i].nil? %>
		<% r = Record.find(part[i]) %>
			$(tmp_div).append("<%= j render partial: 'records/record', :locals => {:record => r} %>")
		<% end%>
	<% end %>
	$("#popular_record").append(tmp_div);
	tmp_div.slideDown();
<% end %>
<% @offset = @offset + 5 %>
<% next_r = session[:records] [@offset, 5] %>
<% if !next_r.nil? %>
$("#more_records").html("<a data-remote='true' class='show_progress_bar' href='more?id=<%=@offset%>'' style='font-weight: bold; color:#861609; font-size:15px;'>더 보기...</a>")
<% else %>
$("#more_records").html("")
<% end %>
configureNProgress();

