<p>안녕하세요? <%= @resource.email %>님</p>

<p>누군가 비밀번호 재설정을 신청 했습니다. 비밀번호를 변경하시려면, 밑에 링크를 눌러주세요.</p>

<p><%= link_to '비밀번호 변경', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>비밀번호 재설정을 신청하신적이 없으시면, 이 메일을 무시 해주십시요.</p>
<p>당신이 이 링크를 안눌르신다면, 비밀번호는 지금 현재 비밀번호로 계속 유지 됩니다.</p>
<hr />
<b>Voice Wave</b>
